.cta {
  padding: 4rem 0;
  background: $brightRed;
  text-align: center;

  @include breakpoint-up('medium') {
    padding: 2.5rem 0;
    text-align: left;
  }

  .container {
    @include breakpoint-up('medium') {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  h2 {
    color: $veryLightGray;
  }

  .btn {
    background: $veryLightGray;
    color: $brightRed;
    justify-self: center;
  }
}
