body {
  @include breakpoint-down('small') {
    &.overlay {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: 100vh;
      background-color: $veryLightGray;
      background: linear-gradient(0deg, $veryDarkBlue, transparent);
      transition: all 300ms ease-in-out;
    }
  }
}

.header {
  padding: 2rem 0;
  background: url('../../images/bg-tablet-pattern.svg') no-repeat;
  background-size: 100%;
  background-position: 145px -225px;

  @include breakpoint-up('medium') {
    background-size: 100%;
    background-position: 425px -115px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  // Menu
  &__item {
    display: none;

    // Desktop Menu
    @include breakpoint-up('medium') {
      display: flex;
    }

    &-link {
      font-weight: 500;
      color: $darkBlue;
      transition: color 300ms ease-in-out;

      @include breakpoint-up('medium') {
        padding: 0 0.5rem;
      }

      &:hover {
        color: $darkGrayishBlue;
      }
    }

    //   Mobile Menu on active
    &.active {
      @include breakpoint-down('small') {
        display: block;
        position: absolute;
        top: 2.5rem;
        left: 50%;
        width: 100%;
        padding: 2rem;
        border-radius: 10px;
        transform: translateX(-50%);
        background: $veryLightGray;
        text-align: center;

        .nav__item-link {
          display: inline-block;
          padding: 0.8rem 0;
        }
      }
    }
  }

  // Mobile Toggle
  &__toggler {
    height: 29px;
    cursor: pointer;

    @include breakpoint-up('medium') {
      display: none;
    }

    > span {
      display: block;
      height: 3px;
      width: 25px;
      background-color: $darkBlue;
      transition: transform 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    &.active {
      > span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 6px);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:nth-child(3) {
        transform: rotate(-45deg) translate(3px, 0px);
      }
    }
  }

  .btn {
    display: none;

    @include breakpoint-up('medium') {
      display: inline-block;
    }
  }
}
