.hero {
  padding: 1.8rem 0;
  text-align: center;

  @include breakpoint-up('medium') {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2.5rem 0;
  }

  @include breakpoint-up('large') {
    padding: 4rem 0;
  }

  &__img {
    overflow: hidden;

    > img {
      width: 335px;

      @include breakpoint-up('medium') {
        width: 100%;
      }
    }

    @include breakpoint-up('medium') {
      order: 2;
      justify-self: end;
    }
  }

  &__item {
    padding-top: 1rem;
    text-align: center;

    @include breakpoint-up('medium') {
      text-align: left;
    }
  }
}
