.testimonials {
  padding: 1rem 0 5rem;
  text-align: center;

  &__title {
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  @include breakpoint-up('medium') {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      align-items: center;
    }
  }

  .testimonial {
    position: relative;
    padding: 1rem;
    margin: 8rem 0;
    background-color: $veryLightGray;

    @include breakpoint-up('medium') {
      margin: 6rem 0;

      :first-child::after {
        content: '';
        background: url('../../images/illustration-intro.svg') no-repeat;
      }
    }

    &__img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__text {
      margin-top: 6rem;

      p {
        width: 100%;
      }
    }
  }
}
